.footer{
    height: 70px;
    background-color: #374e59;
    text-align: center;
}

.footer img{
    margin-top: 5px;
    height:60px;
}

.footer .logo:last-child {
    display: none; 
  }
  .footer:hover .logo:last-child {
    display: inline-block;
  }
  .footer:hover .logo:first-child {
    display: none;  
  }
  