.footer{
    height: 70px;
    background-color: #374e59;
    text-align: center;    
  position: relative;
  bottom: 0px;
}

#root{
  min-height: calc(100vh - 70px);
}

.footer img{
    margin-top: 5px;
    height:60px;
}

.footer .logo:last-child {
    display: none; 
  }
  .footer:hover .logo:last-child {
    display: inline-block;
  }
  .footer:hover .logo:first-child {
    display: none;  
  }
  