.Home{
  margin-bottom: 100px;
}

.getArtButton {
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 23px;
    top: 20px;
  }
  
  .artwork-img {
    width: 95%;
    text-align: center;
    margin: 10px 2.5% 10px 2.5%;
  }
  
  .artwork-title {
    width: 80%;
    text-align: center;
    font-weight: bold;
    margin: 10px 10% 10px 10%;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #8080808c;
  }
  
  .artwork-artist-title {
    text-align: center;
    font-style: italic;
    color: green;
    margin: 10px 10% 10px 10%;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #8080808c;
  }
  
  .artwork-date-display {
    text-align: center;
    font-style: italic;
  
    padding-bottom: 10px;
  }
  
  .main-text div {
    width: 90%;
    margin: 10px 5% 10px 5%;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #8080808c;
  }
  